html {
    box-sizing: border-box;
}

*, * :after, *:before {
    box-sizing: inherit;
}

.page {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 33%, #ffffff 59%, #ffffff 60%, #924b4b 80%, #ffffff 100%);
    margin: 32px auto;
    max-width: 700px;
    width: 100%;
}

.about {
    position: relative;
}

.about__header {
    color: blueviolet;
}

.abaut__paragraph {
    padding: 16px
}

.about__pictures {
    display: block;
    float: left;
    margin: 0 16px 16px 0;
    max-width: 100px;
    width: 100%;
}

.main {
    max-width: 700px;
    width: 100%;
}

.about__link {
    color: green;
}

.day__header {
    color: #001F54;
}

.diary {
    clear: both
}

.diary__header {
    color: blueviolet;
}

.diary__link {
    color: green;
}

.main__header {
    color: tomato;
    padding: 100px 40px 70px;
}

.navigation {
    background-color: yellow;
    border: 3px solid black;
    font-size: 15px;
    max-width: 700px;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation__item {
    display: block;
    margin: 0 16px;
}

.navigation__link {
    color: green;
    text-decoration: none;
}

.navigation__list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.top {
    bottom: 10px;
    position: fixed;
    right: 10px;
}

.footer {
    font-size: 15px;
}