html {
    box-sizing: border-box;
}

*, * :after, *:before {
    box-sizing: inherit;
}

.body {
    background: #fefefe;
}

.about {
    position: relative;
}

.about__header {
    color: blueviolet;
}

.abaut__paragraph {
    padding: 16px
}

.about__pictures {
    display: block;
    float: left;
    margin: 0 16px 16px 0;
    max-width: 100px;
    width: 100%;
}

.about__link {
    color: green;
}

.day__header {
    color: #001F54;
}

.diary {
    clear: both
}

.diary__header {
    color: blueviolet;
}

.diary__link {
    color: green;
}

.flex {
    align-content: space-around;
    border: 3px solid hotpink;
    background: yellow;
    display: flex;
    font-weight: bold;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.flex__item {
    display: inline;
    border: 16px;
    padding: 16px;
}

.flex__navigation {
    display: flex;
    height: 48px;
    top: 16px;
}



.main {
    margin: 32px auto;
    max-width: 700px;
    width: 100%;
}

.main__header {
    color: tomato;
    padding: 100px 40px 70px;
    
}

.navigation {
    background-color: yellow;
    font-size: 15px;
    position: fixed;
    top: 16px;
    width: 100%;
    }

.navigation__link {
    color: green;
    text-decoration: none;
}

.top {
    bottom: 10px;
    position: fixed;
    right: 10px;
}

.footer {
    font-size: 15px;
}