body {
    background: salmon;
}

.mainHeader {
    color: tomato;

}

.sectionHeader {
    color:blueviolet;
  
}

.diaryHeader{
    color:blueviolet;
    
}

#pamietniczek{
    background: rgb(222, 231, 203);
}

